<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link type"text.css" rel="stylesheet" href="style.css">
</head>
<body>
    <h2>About:</h2>
    <img src="Kitty.jpg">

    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet est id laoreet consequat. Nam vitae erat non turpis pretium fringilla ac efficitur massa. Ut ac commodo orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed commodo convallis ligula, vitae molestie nulla aliquam nec. Nullam at sem a quam ultricies efficitur non quis erat. Ut finibus aliquam ornare. Vestibulum egestas eleifend finibus. Phasellus vel placerat sapien.
    </p>
    <p>
    Cras eu purus ullamcorper, laoreet odio eu, lacinia sapien. Nulla ac ante pulvinar, mollis augue nec, tempus mi. Maecenas tincidunt tincidunt erat, vitae ultrices lacus scelerisque at. Curabitur in venenatis turpis. Duis iaculis nisl nisi, sit amet vestibulum tortor placerat finibus. Sed pretium erat quis laoreet maximus. Mauris mollis neque vitae tortor tincidunt, vitae pharetra nulla ultricies. Aliquam egestas auctor magna, non ultricies purus tincidunt in.
    </p>

    <a href="http://localhost:3000/">Index page</a><br>
    <a href="http://localhost:3000/form">Form page</a>
</body>
</html>