<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link type"text.css" rel="stylesheet" href="style.css"> 
</head>
<body>
    <h1>Homework 2 Title</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Nullam vitae ante ornare, blandit ipsum vitae, dictum
          nunc. Donec molestie ut metus vitae tristique.
           Donec vel metus eget leo sodales consequat.
            In eget nibh interdum justo finibus dignissim. 
            Ut ac dui consequat, laoreet massa et, dignissim ante.
             Morbi posuere est vitae felis mollis auctor.
              Vivamus mattis interdum tristique.
               Praesent non nisi euismod, faucibus tellus et, laoreet 
               neque. Phasellus arcu dui, placerat a suscipit quis,
                rutrum eu mauris. Curabitur varius interdum fringilla.
                 In hac habitasse platea dictumst.</p>

    <a href="http://localhost:3000/about">About page</a><br>
    <a href="http://localhost:3000/form">Form page</a>

</body>
</html>