<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link type"text.css" rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Results:</h1>
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Comment: {{comment}}</p>
    <a href="http://localhost:3000/">Back to start</a>
</body>
</html>