<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>tr, td, th{
        text-align: center;
    </style>

</head>
<body>
    <p>Box results</p>
    <div name = results>{{{makeGrid result }}}</div>
    <br>
</body>
</html>
</html>