<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type"text.css" rel="stylesheet" href="style.css">
</head>
<body>
    <div style="width:400px; margin: 0 auto; border:1px solid black; padding:10px;">
    <h2>Employee deleted!</h2>
    Employee with id: {{id}} removed.<br><br>
    <a href="http://localhost:3000/">Add New Employee</a>
    <a href='http://localhost:3000/view'>View Page</a>
    </div>
</body>
</html>